.modal-window {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 1%;
    pointer-events: none;
    transition: all 0.3s;
    &:target {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }
    & > div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2em;
        background: lightgrey;
    }
    & header {
        font-weight: bold;
    }
    & h1 {
        font-size: 150%;
        margin: 0 0 15px;
    }
    backdrop-filter: blur(5px);
}

.modal-close {
    color: black;
    line-height: 50px;
    font-size: 100%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
    background-color: #2eca7f;
    &:hover {
        color: black;
    }
}

.modal-div {
    height: 80%;
    width: 80%;
    border: 1px solid black;
}

.btn-resume {
    background-color: #fff;
    color: #212121;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 2px 4px rgba(0,0,0,0.3)
}

.btn-resume:hover {
    box-shadow: 0 2px 4px rgba(46,202,127,0.1), 0 4px 8px rgba(46,202,127,0.5);
}

.ring {
    width: 200px;
    height: 200px;
    border: 1px solid #000000;
    border-radius: 50%;
    position: relative;
}

.ring:nth-child(1) {
    border-bottom-width: 8px;
    border-color: rgb(255,255,255);
    animation: rotate1 2s linear infinite;
}

.container1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;}